
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Poppins:wght@100&display=swap');


*{
    max-height: 100vh;
    margin: 0;
    padding: 0;

}
body{
    
    background-color: #676767;
    color:#fff;
    font-size: 30px;

}

h1 button{
    background: none;
    font-family: arvo;
    text-align: center;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color:#fff;
    /* border: 1px solid yellowgreen; */
    border: none;
   
}





.heading-element{
    text-align: center;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color:#fff;
}

.body{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rand-div{
    text-align: center;
    font-family: sans-serif;
       
}

.play-h3{
    font-family: poppins;
    font-weight: bold;
}
 
.left-div{
    margin-left: 20%;
}

.right-div{
    margin-right: 20%;
}


.random-img{
    margin: 10px;
    background-color: blueviolet;
    width: 200px;
    height: 200px;

}

.random-img img{
    width: 200px;
    height: 200px;
}



.copyright{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 25px;
    font-family: monospace;
}

.reload{
    align-items: center;
    text-align: center;
    margin: 10px;
}

.try-again{
    text-align: center;
    font-size: 2rem;
    align-items: center;
    background-color: green;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
}
.try-again:hover{
    background-color: rgba(240, 61, 16, 0.719);;
    /* color: rgb(240, 61, 16); */
}

@media only screen and (max-width: 768px) {
    
    

}













